<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageAccountName" value="<put storage account name here>"/>
    <add key="AccessKey" value="<Put access account key here>"/>
    <add key="Container" value="images"/>
    <add key="BlobName" value="Large Files/1783983124"/>
    <add key="FilePath" value="C:\Users\Fshaikh\Downloads\1783983124.pdf"/>
  </appSettings>
</configuration>
